/****************************************
重置(用啥置啥，不够再加）
*****************************************/
html,body,
ol,ul,
table,caption,tbody,tfoot,thead,tr,th,td,
article,canvas,footer,header,section,aside,
hr {
	margin: 0;
	padding: 0;
}
ol,ul {
	list-style: inside;/* 会在一开始增加多余的上下（内？外？）边距，加载完毕后去除，因此会产生弹跳的效果 */
}
table{
	border-collapse: collapse;
	border: 1px solid #373737;
	/*margin-bottom: 20px;*/
	text-align: left;
}
th,td {
	padding: 5px;
	border: 1px solid #373737;
}
button{}

article,canvas,footer,header,section,aside{
	display: block;
}

/****************************************
标签初始化
*****************************************/
body{
	color: #333;
	background: #eee;
	font-size: 14px;
	font-family: 'Myriad Pro', Calibri, Helvetica, Arial,"Hiragino Sans GB", "Microsoft YaHei",
	"WenQuanYi Micro Hei", sans-serif;
}
h1,h2,h3,h4,h5,h6{
	margin: 10px 0;
}
h1, h2 {
	font-weight: 400;
}
h1 {
	font-size: 28px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 12px;
}
p{
	margin: 10px 0;
	line-height: 1.5em;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: #1d953c;   /* 默认背景色#fff */
	cursor: pointer;
}
a:hover,a:focus{
	text-decoration: underline;
}


/****************************************
基本设置
*****************************************/

.wrap {
	/*min-width: 1230px;
	_width: expression(((this.width||document.documentElement.clientWidth||document.documentElement.offsettWidth)<1230)?"1230px":"auto");*/
}
.side {
	float: left;
	padding: 50px 60px;
	margin-left: -100%;
	width: 240px;
	-webkit-box-shadow: -5px 0 15px rgba(0,0,0,.1) inset;
	-moz-box-shadow:    -5px 0 15px rgba(0,0,0,.1) inset;
	box-shadow:         -5px 0 15px rgba(0,0,0,.1) inset;
	color: #fff;
	background: #1d953c;
	background: -moz-linear-gradient(120deg,#1d953c,#67aa37);
	background: -webkit-linear-gradient(120deg,#1d953c,#67aa37);
	background: -moz-linear-gradient(120deg,#1d953c,#67aa37);
	background: linear-gradient(150deg,#67aa37,#1d953c);/*W3C与加前缀的角度计算方式相反*/
}
.nav {
	padding: 10px 0;
}
.nav ul ul {
	padding-left: 21px;
}
.nav li {
	margin: 10px 0;
}
.about {
	border: 1px dashed #fff;
	text-align: center;
}

.main {
	float: left;
	width: 100%;
}
.main-content {
	padding: 60px 50px 0;
	margin-left: 360px;
}
#home-icon{
	display: block;
	position: absolute;
	top:0;
	right: 10px;
	z-index: 10;
	padding: 13px 34px 7px 12px;
	color: #fff;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADHSURBVDhP3ZE9EoIwFITT0dp5BXrvYM1BKGi9j6UzXMJ7eAobi+h+cQWTwGhh5Tezw/vZ90gg/Ix7zgbFGEfpRGzbOmnMaGgvXZySE+9sXeZpndHQTRqk3jHqba/xXELG7I3ErtGrr4SBJsgw6sH9G+loNa4xnL9ACcd8HXFwbSudMQMxNffyK9kwbeTpPGPNw8Z0ZDc65VcaS7jX2ZuuRJxQckiuL8DrsRn3JmTiG7TIcUn1J0pat+ixqOTjgszg2jv/sSCEB0XzdY2mNV8TAAAAAElFTkSuQmCC') #8e2985 no-repeat 87% 47%;
	font-weight: 700;
	-moz-box-shadow:    2px 1px 3px rgba(0,0,0,.3);
	-webkit-box-shadow: 2px 1px 3px rgba(0,0,0,.3);
	box-shadow:         2px 1px 3px rgba(0,0,0,.3);
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}
.content {
	margin: 0 0 20px;
}
.content>li {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;

}
.article-card {
	display: block;
	position: relative;
	width: 225px;
	height: 225px;
	padding: 15px;
	border: 1px solid #ccc;
	color: #333;
	background: #fff;
	-moz-box-shadow: 2px 1px 3px rgba(0,0,0,.3);
	-webkit-box-shadow: 2px 1px 3px rgba(0,0,0,.3);
	box-shadow: 1px 1px 2px rgba(0,0,0,.3);
}
.article-card:hover,.article:focus{
	text-decoration: none;
}
.article-abstract {
	height: 180px;
}
.article-info {
	padding-top: 15px;
	width: 100%;
	border-top: 1px dashed #ccc;
	color: #999;
	text-align: right;
}
.article {
	padding: 0 15px 15px;
	width: 700px;
}

.page-sentence {
	font-size: 12px;
}

/* page页 */
.part {
	border-top: 1px solid #ccc;
	padding: 10px 0 10px 20px;
}

/****************************************
移动设备
*****************************************/
@media screen and (max-width: 960px) {

}

/****************************************
通用设置
*****************************************/
.clear-fix:after {
	content: "\200B";
	display: block;
	height: 0;
	clear: both;
}
.clear-fix {
	#zoom: 1;
}
.auto-height {
	padding-bottom: 100000px;
	margin-bottom: -100000px;
	overflow: hidden;
}
.hide {
	display: none;
}

#gotop{
	position: fixed;
	bottom: 70px;
	right: 40px;
	width: 30px;
	height: 30px;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAQCAYAAADwMZRfAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAACfSURBVDhPY8AH/v37pwPEx0A0VIg0ANRoB8Tv/gMBiAbxoVLEAaCGYCD+DjIABkB8kDhUCX4AVJgNxH+gelEASByIc6BKMQFQDSNQQStEOX4AVNcGpBihWiEAKMAKlJgPVkEkgKpnhRnAAxTYBpYhEUD18YDCIAWIZyLhqxAl2AFIHk19Ctg1yAAoOA2qHisAyUOV4gajhmCCoWwIAwMAXG1caRtA/MMAAAAASUVORK5CYII=') #1d953c no-repeat 50% 50%;
	cursor: pointer;
}
#footer {
	border-top: 1px dashed #ccc;
	color: #666;
	text-align: right;
}
.tag{
	display: inline-block;
	font-size: 12px;
	border: 1px solid #ccc;
	color: #999;
	background: #fff;
	padding: 5px 8px 2px;
	margin: 5px 0;
}
.tag-wrap {
	border: 1px dashed #fff;
	padding: 10px 15px;
}

.hr-devide {
	border: none;
	border-top: 1px dashed #fff;
}