<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="keywords" content="削一 xueyi 1230 削一个博客">
    <meta name="description" content="削一个博客.Github.io : 削一个博客">
    <link rel="icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAFYSURBVFhHzZeBbQIxDEVvha7ACqzQFViBFVihK3SFrtAVugIrsAL4o37JtZy7n8Qn+qQnhDhskjhOWP4D9wnPpufbzJ7LTPkxs4e9F1OF8T6e7wSOZkwYvZkHcwvGkpMTfCEmjX6ZW1x/7ebNxBezxN53swUHgVkY4mTGhNHW6PDD8HlPraRgmmPSaEzC2UPxTYNCQ8FliWksyE9TLVIJjDBL7GVBctnwWorSG5AUI1d2RzdKb4BYe9TALii9Aeu/GxW9YZqZ3lDGSG8oRekNsKwPZPT0hnLUYoTlDQlgqyG4MgvlfYG7gBcM/pg1uy8jLVh8fpthdEpBDt8JPNx+MZiyFLioTsEkrf2tHFbx9iyDqUeAtQuGclhhqYYKkqPbWsddDisGbU29p/yw4rT23O3KDis/mt7jVflrtjqjSO6D9B4qLNo1UZB/4mYPtczg/4BRX8myPADtZ1yhbGvycAAAAABJRU5ErkJggg==">
    <link rel="apple-touch-icon" href="../../images/logo.png">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/commonex.css">

    <title>削一个博客</title>
  </head>

  <body>

    <!-- Header -->
    <div id="header_wrap" class="outer font_light">
        <header class="inner two_column_width">
          <a id="forkme_banner" href="https://github.com/xueyi1230">GitHub</a>

          <h1 id="project_title">削一个博客</h1>
          <h2 id="project_tagline">Cut A blog & </h2>
          <p>学习笔记待搬运</p>

        </header>
    </div>

    <!-- Content -->
    <div id="main_content_wrap" class="outer">
      <div class="inner two_column_width">
        <aside>
          <h3>About me</h3>
          <ul>
            <li>Web前端</li>
            <li>入门级</li>
            <li>找工作中</li>
            <li><a>xy910828@gmail.com</a></li>
          </ul>
        </aside>
        <section id="main_content" class="one_column_width">

          如果只能看到这行字，请刷新看看

        </section>
        <div id="gotop" class="hide">Go Top</div>
      </div>
    </div>

    <!-- Footer  -->
    <div id="footer_wrap" class="outer font_light">
      <footer class="inner one_column_width">
        <p>© xueyi | Published with <a href="http://pages.github.com" class="a_light">GitHub Pages</a></p>
      </footer>
    </div>

    <!-- Script -->
    <script id="tpl" type="text/html">

      <div id="project" class="hide">
        成果
        <ul>
          <% for(var i=0;i<project.length;i++){ %>
          <li><%=project[i].time%> <a href="pages/others/<%=project[i].href%>.html"><%=project[i].title%></a></li>
          <% } %>
        </ul>
      </div>

      <div id="note" class="hide">
        学习笔记
        <ul>

          <% for(var i=0;i<note.length;i++){ %>
          <li>
            <a href="pages/note/<%=note[i].cId%>.html"><%=note[i].cName%></a>
            ：
              <% for(var j=0;j<note[i].list.length;j++){ %>
                   / <%=note[i].list[j]%>
              <% } %>
          </li>
          <% } %>

        </ul>
      </div>

      <div id="collection" class="hide">
        <% var listL; %>
        收藏

        <ul>

          <% for(var i=0;i<collection.length;i++){ %>
          <li>
            <a href="pages/collection/<%=collection[i].cId%>.html"><%=collection[i].cName%></a>
            ：
            <% for(var j=0;j<collection[i].list.length;j++){ listL=collection[i].list; %>
              /
              <%if(listL[j].sCHref){%>
              <a href="<%=listL[j].sCHref%>"><%=listL[j].sCName%></a>
              <% }else{ %>
              <%=listL[j]%>
              <% } %>

            <% } %>
          </li>
          <% } %>

        </ul>

      </div>

    </script>

    <script data-main="javascripts/index" src="javascripts/base/require.js"></script>
  </body>
</html>
