<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="keywords" content="削一 xueyi 1230 削一个博客">
    <meta name="description" content="削一个博客.Github.io : 削一个博客">

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/common.css">

    <title>削一个博客</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/xueyi1230">View on GitHub</a>

          <h1 id="project_title">削一个博客</h1>
          <h2 id="project_tagline">Cut A blog & </h2>
          <h6>其实每次提交的都是文字内容Contributions的方格看着好羞耻</h6>

        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">

        <!--<div id="project">
          成果
          <ul>
            <li>2015/01/27 <a href="project/requirejs.html">一个简易的RequireJS Demo</a></li>
            <li>2015/01/26 <a href="project/chat.html">WebSocket实时加密聊天室</a></li>
          </ul>
        </div>-->

        <div id="collection">
          收藏
          <ul>

            <li id="mobleweb">
              移动Web
              <ul>
                <li>推荐阅读：
                  <a href="http://www.cnblogs.com/codemood/p/3213459.html">为什么移动Web应用程序很慢</a>
                </li>
                <li>插件：
                  <a href="http://blog.csdn.net/ihetqxl/article/details/36538665">IScroll5中文API整理,用法与参考</a>
                </li>
              </ul>
            </li>

            <li id="css3">
              CSS3
              <ul>
                <li>
                  tansform:translate3d
                  <a href="https://www.illumio.com/" target="_blank">illumio</a>
                </li>
              </ul>
            </li>

            <li id="tool">
            工具
            <ul>
              <li>markdown
                <a href="https://www.zybuluo.com/mdeditor" target="_blank">在线 Markdown 编辑阅读器</a>
                /
                <a href="http://www.zhihu.com/question/20409634" target="_blank">怎样引导新手使用 Markdown？</a>
              </li>
              <li>笔记工具
                <a href="http://www.douban.com/doulist/1804646/" target="_blank">印象笔记之使用窍门</a>
                /
                <a href="http://www.zhihu.com/question/20418504" target="_blank">印象笔记（Evernote）有哪些常见的用途？</a>
                /
                <a href="http://www.zhihu.com/question/21438053" target="_blank">知乎：学习编程用什么做笔记比较好？</a>
              </li>
              <li>GitHub
                <a href="http://www.zhihu.com/question/19771598" target="_blank">在 GitHub 可以做什么，用户又习惯做些什么？</a>
                /
                .gitignore
                /
                .gitattributes
              </li>
              <li>
                <a href="pages/collection/webstorm.html">WebStorm</a>
                常用快捷键
              </li>
            </ul>
          </li>

            <li id="other">
              其他
              <ul>
                <li>单例模式
                  <a href="http://www.cnblogs.com/tomxu/archive/2012/02/20/2352817.html" target="_blank">设计模式之单例模式</a>
                </li>
                <li>WebGL
                  <a href="http://www.madebyevan.com/webgl-water/" target="_blank">WebGL Water</a>
                </li>
                <li>正则表达式
                  <a href="http://www.jb51.net/tools/zhengze.html" target="_blank">正则表达式30分钟入门教程</a>
                  /
                  <a href="http://tool.oschina.net/regex" target="_blank">在线测试</a>
                </li>
              </ul>
            </li>

          </ul>
        </div>

        <div id="mini_knowledge">
          缩写、全称和简介
          <ul>
            <li>
              AMD (Asynchronous Module Definition) 异步模块定义
              <a href="http://www.ruanyifeng.com/blog/2012/10/asynchronous_module_definition.html" target="_blank">READ</a>
            </li>
            <li>API (Application Programming Interface) 应用程序编程接口</li>
            <li>CSS (Cascading Style Sheets) 层叠样式表</li>
            <li>HTML (Hypertext Markup Language) 超文本标记语言</li>
            <li>JSON (JavaScript Object Notation) JavaScript对象表示法，轻量级的数据交换格式</li>
            <li>
              NPM (Node Package Manager) Node包管理器
              <a href="http://www.cnblogs.com/chyingp/p/npm.html" target="_blank">READ</a>
            </li>
            <li><a href="http://www.requirejs.cn/" target="_blank">RequireJS</a>：JavaScript模块加载器，实现了AMD规范</li>
          </ul>
        </div>

        <!--<div id="about_me">
          About me
          <ul>
            <li>切图的</li>
            <li>入门级</li>
            <li>学习中</li>
            <li><a>xy910828@gmail.com</a></li>
          </ul>
        </div>-->

        <div id="result"></div>


      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>© xueyi | Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    <script id="tpl" type="text/html">

      <div id="project">
        成果
        <ul>
          <% for(var i=0;i<project.length;i++){ %>
          <li><%=project[i].time%> <a href="pages/project/<%=project[i].href%>.html"><%=project[i].title%></a></li>
          <% } %>
        </ul>
      </div>

      <div id="about_me">
        About me
        <ul>
          <% for(var i=0;i<about_me.length;i++){ %>
          <li><%=about_me[i].content%></li>
          <% } %>
          <li><a>xy910828@gmail.com</a></li>
        </ul>
      </div>

    </script>

  <!--<script src="../javascripts/main.js"></script>-->
    <script data-main="javascripts/main" src="javascripts/base/require.js"></script>
  </body>
</html>
