.demo{
	border: 1px dashed #666;
	padding: 15px;
	margin: 20px 0;
	font-size: 14px;
}
.demo p{
	margin-bottom: 0;
}
.demo ul{
	margin: 0;
}
.file{
	border: 1px solid #aaa;
}
button{
	margin-top: 10px;
}